.col-12 {
  width: 100%;
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  text-align: center;
}

.red {
  fill: #de2139;
}

.green {
  fill: #21ab4e;
}

.blue {
  fill: #2e71c0;
}

.orange {
  fill: #f09823;
}

.yellow {
  fill: #f8d613;
}

.silver {
  fill: #a0a3a1;
}

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}

.form-inline label {
  margin: 5px 5px 5px 30px;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 30px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline fieldset {
  margin: auto;
}

.container {
  padding: 20px;
}

input, select, button {
  font-size: 18px;
}

.car-count {
  width: 50px;
}

svg {
  padding: 0 0 0 2px;
  width: 160px;
  height: auto;
}

.train-number {
  font-size: 45px;
  font-style: italic;
}

.service-type {
  font-size: 4em;
  color:rgb(7, 54, 54);
}

.direction {
  width: 100px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}